{
  "presets": [["@babel/preset-react", { "modules": false }]],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-styled-components",
    "inline-react-svg"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": true,
            "fileName": false,
            "minify": true,
            "pure": true
          }
        ]
      ]
    }
  }
}
